<h3>Welcome to the Parks and Recreation Wildlife Tracking System</h3>

<a class="btn btn-success" href="/animal">Add Animal to Database</a>
<a class="btn btn-success" href="/endangered">Add an Endangered Animal to the Database</a>
<a class="btn btn-success" href="/sighting">Report a Sighting</a>
